<div class="jumbotron">
{% extends "layout.html" %}
{% block content %}
		<h3>
			What is OFAC?
		</h3>
	<p>The Office of Foreign Assets Control (OFAC) under the U.S. Treasury targets foreign nationals, terrorists, international narcotics traffickers, and those engaged in activities related to the proliferation of weapons of mass destruction by naming them on their SDN List. Those named are not permitted to use U.S. financial infrastructure.  Lack of enforcement by any business and government entities can lead to civil and/or criminal liability.  In the context of banking, OFAC check is required during the following processes:
		<ul>
			<li>Account opening</li>
			<li>Account servicing</li>
		</ul>
	</p>
	<p>
		<h3>
			How is the OFAC check executed?
		</h3>
	</p>
	<p>
		Banks are required to check every applicant or account holder against the OFAC list.
	</p>
	<p>
		<h3>
			 Current issues banks are facing with the OFAC check: 
		</h3>
	</p>
	<p>
		OFAC data lists are not normalized, names and addresses are not always listed in tandem.Batch searches take can take +5 hours for a midsize bank.Institutional searches are notorious for being less than adequate.
	</p>
{% endblock content %}
</div>